In [1]:
# importing liabraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# reading excel file and creating dataframe
df = pd.read_excel("/content/drive/MyDrive/digikull all/digikull/Final Projects/Flipkart sentiment analysis/flipkart product Data cleansing and EDA/flipkart_mobile_webscrapping1.xlsx")
df.head()

,Mobile Name,Brand,Price,Rating,Total Rating,Total Review
0,"vivo T2x 5G (Aurora Gold, 128 GB)",vivo,15999,4.4,2632,119
1,"vivo T2x 5G (Glimmer Black, 128 GB)",vivo,15999,4.4,2632,119
2,"REDMI 10 (Pacific Blue, 128 GB)",REDMI,10999,4.2,31560,2150
3,Cellecor X3,Cellecor,1105,3.2,90,2
4,"SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)",SAMSUNG,15490,4.3,7263,534

# Getting basic information about dataframe

In [3]:
# checking shape of dataframe
df.shape

(870, 6)

In [4]:
# checking columns of dataframe
df.columns

Index(['Mobile Name', 'Brand', 'Price', 'Rating', 'Total Rating ',
       'Total Review'],
      dtype='object')

In [5]:
# checking datatype of each columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Mobile Name    870 non-null    object
 1   Brand          870 non-null    object
 2   Price          870 non-null    int64
 3   Rating         870 non-null    float64
 4   Total Rating   870 non-null    int64
 5   Total Review   870 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 40.9+ KB

In [6]:
# checking some statistical measure of columns
df.describe()

              Price      Rating  Total Rating    Total Review
count    870.000000  870.000000   8.700000e+02     870.000000
mean   13366.132184    4.206322   6.591822e+04    6435.231034
std     5151.025310    0.233390   1.513302e+05   17111.055624
min     1061.000000    3.200000   4.000000e+00       0.000000
25%    11499.000000    4.100000   5.850000e+02      49.000000
50%    13999.000000    4.200000   6.691000e+03     527.000000
75%    16999.000000    4.400000   5.124700e+04    4625.000000
max    19999.000000    4.600000   1.342112e+06  211543.000000

### Renaming columns

In [7]:
df.columns

Index(['Mobile Name', 'Brand', 'Price', 'Rating', 'Total Rating ',
       'Total Review'],
      dtype='object')

In [8]:
# creating dictionary of columns that is to rename
rename_dict = {'Mobile Name':'Mobile_Name',
               'Total Rating ':'Total_Rating',
               'Total Review':'Total_Review'}

In [9]:
df = df.rename(columns=rename_dict)
df.head()

,Mobile_Name,Brand,Price,Rating,Total_Rating,Total_Review
0,"vivo T2x 5G (Aurora Gold, 128 GB)",vivo,15999,4.4,2632,119
1,"vivo T2x 5G (Glimmer Black, 128 GB)",vivo,15999,4.4,2632,119
2,"REDMI 10 (Pacific Blue, 128 GB)",REDMI,10999,4.2,31560,2150
3,Cellecor X3,Cellecor,1105,3.2,90,2
4,"SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)",SAMSUNG,15490,4.3,7263,534

# EDA

### TOP 3 Brand who sold high quantity of mobiles

In [10]:
df.columns

Index(['Mobile_Name', 'Brand', 'Price', 'Rating', 'Total_Rating',
       'Total_Review'],
      dtype='object')

In [11]:
df1 = df[["Brand","Price"]]

In [12]:
df1.head()

      Brand  Price
0      vivo  15999
1      vivo  15999
2     REDMI  10999
3  Cellecor   1105
4   SAMSUNG  15490

In [13]:
total_mobile_count_sold = df1.groupby(by = "Brand").count()
total_mobile_count_sold.head()

          Price
Brand
ASUS          9
Alcatel       2
Cellecor     86
GIONEE        1
Honor        15

In [15]:
# Top 3 brand who sold the most of mobiles
total_mobile_count_sold.sort_values(by="Price",ascending=False).head(3)

         Price
Brand
SAMSUNG    118
realme     104
REDMI       96

### Bottom 3 brands who sold less mobiles

In [16]:
# Bottom 3 brand who sold the less  mobiles
total_mobile_count_sold.sort_values(by="Price",ascending=False).tail(3)

          Price
Brand
LeEco         1
Smartron      1
GIONEE        1

### Top 5 mobiles which highest rating counts

In [17]:
df.columns

Index(['Mobile_Name', 'Brand', 'Price', 'Rating', 'Total_Rating',
       'Total_Review'],
      dtype='object')

In [18]:
df2 =df[['Mobile_Name','Total_Rating']].sort_values(by='Total_Rating',ascending =False)
df2.head()

                             Mobile_Name  Total_Rating
816          Redmi Note 4 (Black, 64 GB)       1342112
779      Redmi Note 4 (Dark Grey, 64 GB)       1342112
805  Redmi Note 5 Pro (Lake Blue, 64 GB)       1172167
789      Redmi Note 5 Pro (Black, 64 GB)       1172167
807       Redmi Note 5 Pro (Gold, 64 GB)       1172167

# Bottom 5 mobile with less ratings counts

In [21]:
# Bottom 5 mobiles with less reviews
df3 = df[["Mobile_Name","Total_Rating"]].sort_values(by="Total_Rating",ascending = True).head()
df3

    Mobile_Name  Total_Rating
684  XTOUCH F20             4
751  XTOUCH F20             4
802  XTOUCH F20             4
426  XTOUCH F20             4
846  XTOUCH F20             4

### Top 3 Mobile brands  with their average rating

In [22]:
df.columns

Index(['Mobile_Name', 'Brand', 'Price', 'Rating', 'Total_Rating',
       'Total_Review'],
      dtype='object')

In [26]:
df3 =  df[['Brand','Rating']].groupby(by='Brand').mean()
df3.sort_values(by="Rating",ascending = False).head(3)

           Rating
Brand
Redmi    4.424528
OnePlus  4.400000
realme   4.392308

### Bottom 3 Mobile brands  with their average rating

In [27]:
df4 =  df[['Brand','Rating']].groupby(by='Brand').mean()
df4.sort_values(by="Rating",ascending = True).head(3)

            Rating
Brand
LeEco     3.600000
Alcatel   3.700000
Cellecor  3.753488

### TOP 3 Brands who made highest revenue

In [28]:
df.columns

Index(['Mobile_Name', 'Brand', 'Price', 'Rating', 'Total_Rating',
       'Total_Review'],
      dtype='object')

In [32]:
df5 = df[['Brand','Price']].groupby(by='Brand').sum()
df5.sort_values(by='Price',ascending = False).head(3)

           Price
Brand
SAMSUNG  1704348
REDMI    1520340
realme   1509828

### Bottom 3 Brands who made lowest revenue

In [33]:
df6 = df[['Brand','Price']].groupby(by='Brand').sum()
df6.sort_values(by='Price',ascending = True).head(3)

          Price
Brand
Smartron  10500
GIONEE    11499
XTOUCH    12990

### which product is sold most

In [36]:
df7 = df[["Mobile_Name"]].value_counts()
df7.sort_values(ascending=False).head(1)

Mobile_Name
Cellecor R50    37
dtype: int64

In [40]:
most_sold_mobile = df7.sort_values(ascending=False).head(1).index[0][0]

In [41]:
print(f'The most sold mobile is {most_sold_mobile}')

The most sold mobile is Cellecor R50

### In this we had done some basic Exploratory Data Analysis.Later we will build some vizualizations using Tableau